<template>
	<div class="form-container">
		<form id="message" name="message">

			<div class="form-item">
				<div class="form-label">Имя</div>
				<input
					type="text"
					v-model="personName.val"
					class="input"
					@keydown="clearErrorMessage(personName)"
				>
				<div
					v-html="personName.err"
					class="error"
				></div>
			</div>

			<div class="form-item">
				<div class="form-label">E-mail</div>
				<input
					type="text"
					v-model="personMail.val"
					class="input"
					@keydown="clearErrorMessage(personMail)"
				>
				<div
					v-html="personMail.err"
					class="error"
				></div>
			</div>

			<div class="form-item">
				<div class="form-label">Сообщение</div>
				<textarea
					v-model="personMsg.val"
					class="input"
					@keydown="clearErrorMessage(personMsg)"
				></textarea>
				<div
					v-html="personMsg.err"
					class="error"
				></div>
			</div>

			<br>

			<div class="form-item">
				<input
					type="submit"
					value="Добавить"
					class="submit-btn"
					@click.prevent = "submit"
				>
			</div>

			<div class="success">{{ successText }}</div>

		</form>
	</div>
</template>

<script>
import axios from "axios";
export default {
	mounted() {
		this.init()
	},

	data () {
		return {

			// для каждого поля создаем объект из двух полей - собственно само значение
			// и сообщение об ошибке валидации, при инициализации все соотвественно пустые

			personName: {
				val:'',
				err:''
			},
			personMail: {
				val:'',
				err:''
			},
			personMsg: {
				val:'',
				err:''
			},

			// результат отправки, по умолчению false
			success: false,
			successText: '',
		}
	},

	methods: {
		init() {
			// сейчас этот метод ничего не делает
		},

		// отправа формы на https://knigomania.ru/create
		submit() {
			let formData = new FormData();

			// забрали поля val соответствующих объектов
			formData.append('personName', this.personName.val);
			formData.append('personMail', this.personMail.val);
			formData.append('personMsg', this.personMsg.val);

			// непосредственно отправка
			this.sendData(formData);
		},

		async sendData(data) {
			const URL = 'https://knigomania.ru/create';
			await axios
				.post(URL, data)
				.then(response => {

					// получили сообщения об ошибках, и если они непустые,
					// то будут выведены в соответствующих div с классом error под полями ввода формы,
					// в этом случае сохранения данных не было
					// ответ выдает Laravel - MainController.php - createMessage()

					this.personName.err = response.data['personNameError'];
					this.personMail.err = response.data['personMailError'];
					this.personMsg.err = response.data['personMsgError'];

					// если в ответе response.data['success']=true, то всё прошло успешно в плане валидации данных
					// но в данном примере мы не проверяем ошибку сохранения в базе данных

					if (response.data['success']){
						// очищаем поля и на 3 секунды выводим сообщение о успешном добавлении
						this.clearForm();
					}
				})
				.catch(e => {
					this.error = e;
					alert(e)
				});
		},

		// метод вызывается при событии keydown в полях ввода
		// если до этого было сообщение об ошибке, то оно будет удалено
		clearErrorMessage(obj){
			obj.err = '';
		},

		clearForm() {
			this.successText = 'Ваше сообщение сохранено';
			this.personName = {	val:'',	err:''};
			this.personMail = {	val:'',	err:''};
			this.personMsg = { val:'', err:''};
			setTimeout(() => this.successText = '', 3000);
		},
	}
}
</script>

<style scoped>
.form-container{
	width:360px;
	margin:50px auto;
	background-color: #e9e9e9;
	padding:20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
.form-item{
	margin:20px 0 0 0;
}
.form-label{
	padding:5px;
	text-align: left;
}
.input {color:#000000;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	border:#cfcfcf 1px solid;
	padding:10px 5px 10px 5px;
	width:348px;
	transition:0.3s;
}
.input:focus{
	border:#fff 1px solid;
	-webkit-box-shadow: 0px 0px 0px 2px rgba(255,235,11,1);
	-moz-box-shadow: 0px 0px 0px 2px rgba(255,235,11,1);
	box-shadow: 0px 0px 0px 2px rgba(255,235,11,1);
}
textarea{
	font-family: Avenir, Helvetica, Arial, sans-serif;
	width:100%;
	height:100px;
	resize:none;
	font-size:14px;
}
.submit-btn{
	border:none;
	background-color: #1067ad;
	color:#fff;
	font-size:18px;
	padding:15px 30px;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transform-origin: 0 0;
	box-shadow:0px 0px 0 100px #3c85c1 inset;
	cursor:pointer;
}

.submit-btn:hover{
	-webkit-box-shadow:0px 0px 0 0px #3c85c1 inset;
}
.error{
	position: absolute;
	padding: 5px;
	color:#ff0000;
	font-size: 12px;
}
.success{
	text-align: center;
	padding: 5px;
	color:#00bb00;
	font-size: 14px;
}

input, textarea { outline:none; }
input:active, textarea:active { outline:none; }
:focus { outline:none; }

</style>